/backend/node_modules
/backend/serviceAccountKey.json
/backend/login-cde1c-firebase-adminsdk-ffils-c881020eb1.json
/backend/duyserver.json
/backend/duyserver2.json


/frontend/node_modules

Thumbs.db
*.DS_Store